*{
    margin: 0;
}
#wrapper{
    width: 750px;
    height: 150px;
    background:gray;
    margin: 0 auto;
    padding-top: 10px;
}
h2{
    text-align: center;
    color:blue !important;
    clear: both;
}    
#content{
    width: 750px;
    background: yellow;
    padding: 5px;
    overflow: auto;
}
#leftbox{
    width: 30%;
    height: 200px;
    background: yellowgreen;
    float: left;
}
#rightbox{
    width: 70%;
    height: 200px;
    background: pink;
    float: left;
